:root {
  --vp-c-default-1: theme('colors.neutral.12');
  --vp-c-default-2: theme('colors.neutral.11');
  --vp-c-default-3: theme('colors.neutral.10');
  --vp-c-default-soft: theme('colors.neutral.4');

  /* Colors: Background */
  --vp-c-bg: theme('colors.neutral.1');
  --vp-sidebar-bg-color: theme('colors.neutral.1');
  --vp-c-bg-alt: theme('colors.neutral.2');
  --vp-c-bg-elv: theme('colors.neutral.2');
  --vp-c-bg-soft: theme('colors.neutral.3');

  --vp-c-brand-1: theme('colors.primary.11');
  --vp-c-brand-2: theme('colors.primary.10');
  --vp-c-brand-3: theme('colors.primary.9');
  --vp-c-brand-soft: theme('colors.primary.3');

  /* Colors: Surface */
  --vp-c-border: theme('colors.neutral.6');
  --vp-c-divider: theme('colors.neutral.5');
  --vp-c-gutter: theme('colors.neutral.4');

  /* Colors: Button */
  --vp-button-brand-bg: theme('colors.primary.9');
  --vp-button-brand-border: theme('colors.primary.7');
  --vp-button-brand-text: theme('colors.primary.12');
  --vp-button-brand-hover-bg: theme('colors.primary.10');
  --vp-button-brand-hover-border: theme('colors.primary.8');
  --vp-button-brand-hover-text: theme('colors.primary.12');
  --vp-button-brand-active-bg: theme('colors.primary.11');
  --vp-button-brand-active-border: theme('colors.primary.9');
  --vp-button-brand-active-text: theme('colors.primary.12');
  /** Alt button */
  --vp-button-alt-bg: theme('colors.neutral.4');
  --vp-button-alt-border: theme('colors.neutral.7');
  --vp-button-alt-text: theme('colors.neutral.12');
  --vp-button-alt-hover-bg: theme('colors.neutral.5');
  --vp-button-alt-hover-border: theme('colors.neutral.8');
  --vp-button-alt-hover-text: theme('colors.neutral.12');
  --vp-button-alt-active-bg: theme('colors.neutral.6');
  --vp-button-alt-active-border: theme('colors.neutral.9');
  --vp-button-alt-active-text: theme('colors.neutral.12');

  /* Colors: Custom Block */
  /** Tip custom block */
  --vp-custom-block-tip-bg: theme('colors.primary.3');
  --vp-custom-block-tip-border: theme('colors.primary.7');
  --vp-custom-block-tip-text: theme('colors.primary.11');
  --vp-custom-block-tip-text-deep: theme('colors.primary.12');
  /** Warning custom block */
  --vp-custom-block-warning-bg: theme('colors.warning.3');
  --vp-custom-block-warning-border: theme('colors.warning.7');
  --vp-custom-block-warning-text: theme('colors.warning.11');
  --vp-custom-block-warning-text-deep: theme('colors.warning.12');
  /** Danger custom block */
  --vp-custom-block-danger-bg: theme('colors.danger.3');
  --vp-custom-block-danger-border: theme('colors.danger.7');
  --vp-custom-block-danger-text: theme('colors.danger.11');
  --vp-custom-block-danger-text-deep: theme('colors.danger.12');
  /** Info custom block */
  --vp-custom-block-info-bg: theme('colors.info.3');
  --vp-custom-block-info-border: theme('colors.info.7');
  --vp-custom-block-info-text: theme('colors.info.11');
  --vp-custom-block-info-text-deep: theme('colors.info.12');
  /** Details custom block */
  --vp-custom-block-details-bg: theme('colors.neutral.3');
  --vp-custom-block-details-border: theme('colors.neutral.7');
  --vp-custom-block-details-text: theme('colors.neutral.11');
  --vp-custom-block-details-text-deep: theme('colors.neutral.12');

  --vp-code-bg: theme('colors.neutral.3');

  /**
 * Colors: Text
 *
 * - `text-1`: Used for primary text.
 *
 * - `text-2`: Used for muted texts, such as "inactive menu" or "info texts".
 *
 * - `text-3`: Used for subtle texts, such as "placeholders" or "caret icon".
 * -------------------------------------------------------------------------- */

  --vp-c-text-1: theme('colors.neutral.12');
  --vp-c-text-2: theme('colors.neutral.11');
  --vp-c-text-3: theme('colors.neutral.10');
}

/* Make clicks pass-through */
#nprogress {
  pointer-events: none;

  .bar {
    background: var(--vp-c-brand-1);
    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
  }
  .peg {
    display: block;
    position: absolute;
    right: 0;
    width: 100px;
    height: 100%;
    box-shadow:
      0 0 10px var(--vp-c-brand-1),
      0 0 5px var(--vp-c-brand-1);
    opacity: 1;

    -webkit-transform: rotate(3deg) translate(0px, -4px);
    -ms-transform: rotate(3deg) translate(0px, -4px);
    transform: rotate(3deg) translate(0px, -4px);
  }

  .spinner {
    display: block;
    position: fixed;
    z-index: 1031;
    top: 15px;
    right: 15px;
  }

  .spinner-icon {
    width: 18px;
    height: 18px;
    box-sizing: border-box;

    border: solid 2px transparent;
    border-top-color: var(--vp-c-brand);
    border-left-color: var(--vp-c-brand);
    border-radius: 50%;

    -webkit-animation: nprogress-spinner 400ms linear infinite;
    animation: nprogress-spinner 400ms linear infinite;
  }
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.info.custom-block {
  --icon: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLWluZm8iPjxjaXJjbGUgY3g9IjEyIiBjeT0iMTIiIHI9IjEwIi8+PHBhdGggZD0iTTEyIDE2di00Ii8+PHBhdGggZD0iTTEyIDhoLjAxIi8+PC9zdmc+');
}

.tip.custom-block {
  --icon: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLWxpZ2h0YnVsYiI+PHBhdGggZD0iTTE1IDE0Yy4yLTEgLjctMS43IDEuNS0yLjUgMS0uOSAxLjUtMi4yIDEuNS0zLjVBNiA2IDAgMCAwIDYgOGMwIDEgLjIgMi4yIDEuNSAzLjUuNy43IDEuMyAxLjUgMS41IDIuNSIvPjxwYXRoIGQ9Ik05IDE4aDYiLz48cGF0aCBkPSJNMTAgMjJoNCIvPjwvc3ZnPg==');
}

.warning.custom-block {
  --icon: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLWFsZXJ0LXRyaWFuZ2xlIj48cGF0aCBkPSJtMjEuNzMgMTgtOC0xNGEyIDIgMCAwIDAtMy40OCAwbC04IDE0QTIgMiAwIDAgMCA0IDIxaDE2YTIgMiAwIDAgMCAxLjczLTNaIi8+PHBhdGggZD0iTTEyIDl2NCIvPjxwYXRoIGQ9Ik0xMiAxN2guMDEiLz48L3N2Zz4=');
}

.danger.custom-block {
  --icon: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLXNrdWxsIj48Y2lyY2xlIGN4PSI5IiBjeT0iMTIiIHI9IjEiLz48Y2lyY2xlIGN4PSIxNSIgY3k9IjEyIiByPSIxIi8+PHBhdGggZD0iTTggMjB2Mmg4di0yIi8+PHBhdGggZD0ibTEyLjUgMTctLjUtMS0uNSAxaDF6Ii8+PHBhdGggZD0iTTE2IDIwYTIgMiAwIDAgMCAxLjU2LTMuMjUgOCA4IDAgMSAwLTExLjEyIDBBMiAyIDAgMCAwIDggMjAiLz48L3N2Zz4=');
}

.custom-block-title {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.custom-block-title::before {
  content: '';
  width: 16px;
  height: 16px;
  -webkit-mask: var(--icon) no-repeat;
  mask: var(--icon) no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  background-color: currentColor;
  color: inherit;
}

/** Generated by coloradix */
::-webkit-scrollbar {
  width: 0.4rem;
}

::-webkit-scrollbar-track {
  background: rgb(var(--neutral-2) / 0.5);
}

::-webkit-scrollbar-thumb {
  background: rgb(var(--neutral-5));
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(var(--neutral-8));
}

::-moz-selection {
  background: rgb(var(--primary-8));
  color: white;
}

::selection {
  background: rgb(var(--primary-8));
  color: white;
}

/** fix for nolebase-git-changelog */
.vp-nolebase-git-changelog a {
  text-decoration: none !important;
}

.vp-doc a {
  color: var(--vp-c-brand-1);
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-style: solid;
  text-decoration-color: transparent;
  -webkit-text-decoration-color: transparent;
  transition: text-decoration-color 0.25s;
  font-weight: 600;
  &:hover {
    color: var(--vp-c-brand-1);
    text-decoration-color: var(--vp-c-brand-1);
    -webkit-text-decoration-color: var(--vp-c-brand-1);
  }
}

.custom-block {
  @apply my-6 rounded-lg border p-4 text-sm !important;

  & a {
    @apply font-semibold text-decoration-underline decoration-solid underline-offset-2 transition-colors rounded-sm px-1 -mx-1 outline-none !important;
    text-decoration-thickness: 2px;
    text-decoration-color: currentColor;
    -webkit-text-decoration-color: currentColor;

    &:focus-visible {
      outline: 2px solid currentColor;
      outline-offset: 2px;
    }
  }

  &-title {
    @apply pb-2 font-semibold tracking-wide last:pb-0;

    code {
      color: inherit;
    }
  }

  &:not(.details) > p {
    @apply m-0 !important;
  }

  &.info {
    & a {
      @apply text-info-11 decoration-info-9;

      &:hover,
      &:focus-visible {
        @apply text-info-12 decoration-info-12 bg-info-3/40;
      }
    }
  }

  &.tip {
    & a {
      @apply text-tip-11 decoration-tip-9;

      &:hover,
      &:focus-visible {
        @apply text-tip-12 decoration-tip-12 bg-tip-3/40;
      }
    }
  }

  &.warning {
    & a {
      @apply text-warning-11 decoration-warning-9;

      &:hover,
      &:focus-visible {
        @apply text-warning-12 decoration-warning-12 bg-warning-3/40;
      }
    }
  }

  &.danger {
    & a {
      @apply text-danger-11 decoration-danger-9;

      &:hover,
      &:focus-visible {
        @apply text-danger-12 decoration-danger-12 bg-danger-3/40;
      }
    }
  }
}
